<div class="blog">
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-success mb-3" (click)="addNewBlog()">Add New</button>
        <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-row align-items-center me-2">
                <select class="form-select" (change)="sortBy(mySelect.value)" #mySelect>
                    <option *ngFor="let item of sortByEnum" [value]="item.value">{{item.name}}</option>
                </select>
            </div>
            <div class="d-flex">
                <input (change)="searchChange()" [(ngModel)]="searchString" class="form-control me-2" type="search"
                    placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" (click)="search()">Search</button>
            </div>
        </div>
    </div>

    <ul class="list-unstyled">
        <li *ngFor="let item of blogs | paginate: { itemsPerPage: 20, currentPage: page, totalItems: totalRecords }">
            <div class="card mb-2">
                <div class="card-body" (click)="gotoDetail(item.id)">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-xs-12 col-sm-12">
                            <img src={{item.image?.url}} class="mr-3 blog-image" alt={{item.title}}>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-12">
                            <h5 class="mt-0 mb-1">{{item.title}}</h5>
                            {{item.content}}
                            <p>Created date: {{item.created_at}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-body mb-2">
                    <button class="btn btn-secondary" (click)="updateBlock(item.id)">Update</button>
                    <button class="btn btn-danger blog-button__delete" (click)="deleteBlock(item.id)">Delete</button>
                </div>
            </div>
        </li>
    </ul>
    <div class="container">
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>